*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    min-height: 10vh;
    width: 100%;
    background-color: #7D3200;
    list-style-type: none;
}
nav .logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 10px;
    font-weight: bold;
}
nav ul{
    float: right; 
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5vh;
}
nav ul li a{
    text-align: none;
    color: white;
    padding: 1vh;
    text-decoration: none;
}
#menu-icon{
    float: right;
    line-height: 80px;
    margin-left: 20vh;
    margin-right: 10vh;
    color: white;
    display: none;
    cursor: pointer;
}

a:hover, a.active{
    
    border-bottom:2px solid #ED5F00;
}

@media screen and (max-width : 600px) {
    #menu-icon{
        display: block;
        float: right;
        margin-right: 1vh;
        margin-left: 1vh;
    }
  
   label .logo{
        font-size: 35px;
        padding-left:50px;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #7c5033;
        text-align: center;
        top: 80px;
        left: -100%;
        transition: all .5s;
    }
    nav ul li {
       display: block;
    }
    nav ul li a{
        font-size: 16px;
    }
    a:hover, a.active{
        border: none;
        color: #ED5F00;
    }
    
  
    
}
@media screen and (max-width : 400px) {
    #menu-icon{
        display: block;
        float: right;
        margin-right: 1vh;
        margin-left: 5vh;
    }
  
   label .logo{
        font-size: 35;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #7c5033;
        text-align: center;
        top: 80px;
        left: -100%;
        transition: all .5s;
    }
    nav ul li {
       display: block;
    }
    nav ul li a{
        font-size: 16px;
    }
    a:hover, a.active{
        border: none;
        color: #ED5F00;
    }
    
  
    
}
@media screen and (min-width : 280px) {
    #menu-icon{
        display: block;
        float: right;
        margin-right: 1vh;
        margin-left: 1vh;
    }
  
   label .logo{
        font-size: 10px;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #7c5033;
        text-align: center;
        top: 80px;
        left: -100%;
        transition: all .5s;
    }
    nav ul li {
       display: block;
    }
    nav ul li a{
        font-size: 16px;
    }
    a:hover, a.active{
        border: none;
        color: #ED5F00;
    }
}
